tr td{
    border: black solid 2px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 10%;
    box-shadow: rgb(157, 162, 168) 5px 3px 12px;
    font-size: 30px;
    background-color: white;
}
td:hover{
    background-color:rgb(169, 169, 169);
}
table{
    border: black solid 2px;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgb(157, 162, 168) 5px 3px 12px 2px;
}
img{
    height: 49px;
    width: 49px;
}
body{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/025/379/278/large/max-everett-goldminebg1.jpg?1585606608.png);
 
}
.suspected{
    background-image: url('https://i.ibb.co/SPmg61h/flag.png');
    background-size: contain;
}
.mine{
    background-image: url('https://i.ibb.co/KbCNMx5/bomb.png');
    background-size: contain;
}   
#WIN{
    background-color:rgba(0,255,0,0.4);
}#LOST{
    background-color:rgba(255,0,0,0.4);
}
#LOST,#WIN{
    height: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    line-height: 150%;
    font-size: 20px;
    display: none;
    position: fixed;
    top: 200px;
    width: 100%;
}
#getName{
    position: fixed;
    top: 200px;
    margin: 0 50%;
    padding: 50px;
    background-color: lightblue;
    direction: rtl;
    border-radius: 10px;
    display: none;
}
.yellow-box {
    background-color: yellow;
    width: 400px;
    height: 200;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'r h';
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid red;
    grid-area: r;
}
.sign{
    grid-area: h;
}
.results{
    background-color:rgb(169, 169, 169);
    border-radius: 5px;
    font-size: 30px;
    margin: auto;
    width: 20%;
    text-align: center;
}
.newGameBtn{
    margin: 10px 50%;
}
